{% extends "encyclopedia/layout.html" %} 


{% block title %}
 Create NEW Page
{%endblock %} 


{% block body %}
<h1>Create New Page</h1>
<div class="container">
{%if error%}
  <div class="alert alert-danger" style="text-align: center;" role="alert">
    {{error}}
  </div>
{%endif%}
<form method="POST">
    {% csrf_token%}
    <div class="form">
      <div class="my-3">
        <label for="title">Title</label>
        <textarea class="form-control" id="title" cols="30" name="title" rows="1" placeholder="Title of the page">
            {%if title%}
                {{title}}
            {%endif%}
        </textarea>
      </div>
      <div>
        <label for="content">Content</label>
        <textarea class="form-control" id="content" cols="30" name="content" rows="10" placeholder="Write page content in markdown">
            {%if content%}
                {{content}}
            {%endif%}
        </textarea>
      </div>
      <input type="submit" value="Save" class="btn btn-success my-3" />
    </div>
  </form>
</div>
{% endblock %}
